﻿@model JB2.BOM.TokenModel
@{
    ViewBag.Title = Resources.Global.ce_header_device_management;
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="card-header text-right header">
    <input type="hidden" id="sessionAADToken" value=@Session["authenToken"] />
    <div class="refreshIcon">
        <i id="refresh" class="fa fa-refresh"></i>
    </div>
</div>
<div class="card-body" id="reportContainer"></div>

<script>
    var accessToken = "@Model.EmbedToken";
    var embedUrl = "@Html.Raw(Model.EmbedUrl)";
    var reportId = "@Model.ReportId";
</script>
@Scripts.Render("~/bundles/Pages")
