﻿body {
    min-width: 640px;
    overflow: auto;
    font-size: 0.9rem;
}

.no-padding {
    padding: 0;
}

.navbar {
    background-color: beige;
    padding: 0 1rem 0 1rem;
}

.navbar-app-name {
    font-size: x-large;
    margin-right: 40px;
    margin-left: 0px;
}

.nav-link {
    color: black;
    font-family: sans-serif;
    font-size: 11pt;
    opacity: 0.5;
    padding-bottom: 1px;
}

.nav-link.active {
    font-weight: 600;
    opacity: 1;
}

.nav-link:hover {
    color: black;
    border-bottom-color: red;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 0;
}

.bom-row {
    display: -webkit-box;
    display: -ms-inline-flexbox; /*supporting IE11*/
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.bom-col {
    margin-left: 20px;
}

.bom-col-first {
    margin-left: 14px;
}


.bom-label {
    padding-left: 0;
    padding-right: 0;
    margin: 4px 0;
}
.bom-control {
    padding: 1px 6px;
}

.header {
    height: 36px;
    padding: 4px 20px;
}

.refreshIcon {
    color: skyblue;
    font-size: 18pt;
    line-height: 27px;
}

.fa-calendar {
    font-size: 11px;
}

.fa-refresh:hover {
    color: #007bff !important;
}

.errorMessage {
    color: red;
}

#reportContainer {
    width: 1270px;
    height: 550px;
    padding: 0;
    margin: 0px auto;
}
