﻿@if (!Request.IsAuthenticated)
{
    <text>
        <a href="@Url.Action("SignIn", "Account")">@Resources.Global.ce_link_login</a>
    </text>
}
else
{
    <text>
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">@User.Identity.Name</a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="https://account.activedirectory.windowsazure.com/r#/profile">@Resources.Global.ce_link_profile</a>
                <a class="dropdown-item" href="/Account/SignOut">@Resources.Global.ce_link_signout</a>
            </div>
        </div>
    </text>
}
@if (!string.IsNullOrWhiteSpace(Request.QueryString["errormessage"]))
{
    <ul class="nav navbar-nav navbar-right">
        <li>Error: @Request.QueryString["errormessage"]</li>
    </ul>
}